*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
.btn-warning{
    padding: 16px 30px;;
    background-color: yellow;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    margin-top: 32px;
}
/* header section */
.header{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1600px;
    height: 808px;
}
.header-title{
    text-align: right;
    padding-right: 200px;
    padding-top:216px;
    font-size: 65px;
    font-weight: 700;
    color: #FFFFFF;
}
.header-description{
    text-align: right;
    margin: 24px 200px 32px 0;
    color: #FFFFFF;
}
/* new year description */
.new-year-section{
    display: flex;
    gap:87px;
    margin-top: 131px;
}
.new-year-img{
     margin-left: 206px;
}
.new-year-title{
    text-align: right justify;
    margin-right: 322px;
    margin-top: 270px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.new-year-description{
    text-align: right justify;
    font-weight: 400;
    font-size: 16px;
    color: #444343;  
    margin: 24px 322px 16px auto;
}
.new-year-tick{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.my-plan .my-plan-title{
    text-align: center;
    margin-top:125px ;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.my-plan .plan-title{
    margin: 16px auto;
    font-weight: 700;
    font-size: 30px;
}
.my-plan .plan-description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    gap:10px;
}
.my-plan .my-plans{
    display: flex;
    justify-content: center;
    text-align: center;
    gap:30px;
}
/* banner section */
.banner{
    background-image: linear-gradient(90deg, #360bf4 -50%, rgba(10, 17, 155, 0) 100%), url(../images/watch.png);
    margin-top: 130px;
    background-repeat: no-repeat;
    height: 300px;
    width: 1140px;
    border-radius: 8px;
    margin-left: 230px;   
}
.banner-title{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-left: 64px;
    padding-top: 59px;
}
/* footer section */
.footer{
    background-color: black;
    color: #F8F8F8;
    display: flex;
    width: 1600px;
    height: 577px;
    align-items: center;
    /* gap:231px; */
    margin-top:130px;
}
.footer-title{
    font-weight: 700;
    font-size: 45px;
}
input{
    padding: 9px 30px;

}
